*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/
.pytest_cache

*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/
.idea

*.DS_Store

.ipynb_checkpoints/
BoardViewer.ipynb
Tests/
requirements.txt